.card__contain {
  width: calc((100% - 100px)/3);
  max-width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.card__topBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card__avatar {
  width: 100px !important;
  height: 100px !important;
  border: 1px solid #1775ee;
}

.card__username {
  font-size: 22px;
  font-weight: 900;
  margin-top: 10px;
}
