.topbarContainer {
  height: 60px;
  width: 100%;
  background-color: #80afee;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft, .topbarLeft > a {
  display: flex;
  flex: 3;
  justify-content: flex-start;
  align-items: center;
}

.topbarLeft > a {
  text-decoration: none;
}

.topbarLeft > a > img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 0 10px 0 20px;
}

.topbarLeft > a > span {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.topbarCenter {
  flex: 3;
  color: white;
}

.topbarIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.topbarIcons > a {
  color: #fff;  
}

.topbarIcons > .active {
  color: #0974ff;  
}

.topbarRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.avatarBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  margin-right: 20px;
}

.avatarBox:hover {
  cursor: pointer;
}

.avatarBox > .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.avatarBox > .name {
  font-size: 20px;
  margin-left: 10px;
}

.searchbar {
  width: 50%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}


.btnBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  margin-right: 20px;
}

.btnBox > a {
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white;
  margin: 0 2px;
}

.btnBox > a:hover {
  color: #0974ff;
  border: 1px solid #0974ff;
}
